<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Second Django Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Please sign up here!</h1>
      <form method="POST">
        {{form.as_p}}
        {% csrf_token%}
        <input type="submit" class="btn btn-primary" value="Submit">

      </form>
    </div>
    <!--<h1>Hi, Welcome to Django Project</h1>
    <h2>Here are your User records :</h2>
    <div class="djangotwo">
      {% if user_records%}
        <table>
          <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </thead>
          {% for user in user_records %}
          <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
          </tr>
          {% endfor %}
        </table>
        {% else %}
          <p>NO USER RECORDS FOUND!</p>
        {% endif %}
    </div>-->
  </body>
</html>
